@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: whitesmoke;
}


/* NAVBAR */
.harry-nav{
  height: 14vh;
}

.icons-nav{
  line-height: 20px;
  font-size: 40px;
}

.harry-title{
  font-size: 40px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px black;
}

.harry-title-span{
  color: rgb(171, 148, 20);
}

.harry-glasses{
  height: 5.0rem;
  width: 5.0rem;
}

.count-nav{
  height: 1.7rem;
  width: 1.7rem;
  bottom: 3.1rem;
  left: 3.1rem;
  color: rgb(171, 148, 20);
}


/* SECTION HEADER */
.harry-intro{
  height: 86vh;
} 

.logo{
  height: 150px;
}

.logo1{
  height: 450px;
}


/* BOOKS */
.card-book{
  width: 45%;
  height: 24rem;
  display: flex;
  align-items: center;
}

.state-book{
  width: 5.6rem;
  height: 1.5rem;
  font-size: 0.85rem;
  font-weight: 800;
  letter-spacing: 0.06rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons{
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-count{
  height: 2rem;
  width: 2.25rem;
  padding: 0.25rem;
}

.icons-count:hover{
  background-color: rgb(170, 170, 170);
}

.add-cart{
  height: 2rem;
  width: 13rem;
  padding-left: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-cart:hover{
  background-color: rgb(170, 170, 170);
}

.cart-box{
  height: 2.8rem;
  width: 2.8rem;
  right: -0.8rem;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgb(170, 170, 170);
}

.cart{
  height: 1.8rem;
  width: 1.8rem;
  right: 0.5rem;
  position: absolute;
  background-color: rgba(170, 170, 170);
}


/* FOOTER */
.harry-footer{
  height: 11vh;
  box-shadow: 0 16px 44px 0 rgba(94, 94, 94, 0.8);
}

.harry-glasses-f{
  height: 4.4rem;
  width: 4.4rem;
}


/* CART */
.modal{
  height: 15rem;
  width: 15rem;
  position: fixed;
  background-color: beige;
  top: 0;
  right: 1.5rem;
  display: flex;
  align-items: center;
}

.modal-content{
  height: 10rem;
  width: 10rem;
  
}